
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Admin Dashboard</title>
</head>
<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.cont{
    width: 100%;
    height: 100vh;
    padding: 0 15px 15px;
}
.cont .content1{
    width: 100%;
    height: calc(100vh - 95px);
    background: linear-gradient(130deg, #0c3875, #3b88b2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
.cont .text{
    color: black;
    font-size: 30px;
    margin-left: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}
.cont .par{
    color: black;
    font-size: 20px;
    margin-left: auto;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}
.cont nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #ffffff;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
nav .logo h1{
    color: #444;
    font-size: 28px;
    margin: 8px;
}
nav ul li{
    display: inline-block;
    margin: 10px 15px;
    height: 80px;
    position: relative;
    line-height: 80px;
    cursor: pointer;
}
nav ul li::after{
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    background: #65c9f7;
    width: 0;
    height: 3px;
    transition: 0.3s;
}
nav ul li:hover::after,
nav ul li.active::after{
    width: 100%;
}
nav ul li a{
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}
nav ul li a:hover,
nav ul li.active a{
    color: #65c9f7;
}
.form {
    background-color: whitesmoke;
    height: 500px;
    width: 830px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 10px 10px rgba(54, 53, 53, 0.1);
    padding: 15px;
    margin-bottom: 30px;
}
.first-group {
    border: none;
    width: 400px;
    margin-top: 15px;
    position: absolute;
}
.content {
    border: 1px solid #0e0e0e;
    margin: 10px;
    margin-left: 8px;
    padding: 5px;
}
.content input{
    width: 85%;
    background: #f4f4f0;
    border: none;
    outline: none;
}
.placeholder {
    color: #060606;
}
.fa {
    display: inline-block;
    color: rgb(59, 131, 198);
    border-right: 1px solid #060606;
    padding: 5px;
    margin-left: 5px;
}
.second-group {
    border: none;
    width: 400px;
    margin-top: 15px;
    margin-left: 400px;
    position: absolute;
}
#submit-btn {
    margin-top:250px;
    margin-left: 300px;
    background: transparent;
    color: #060606;
    width: 200px;
    border: 1px solid rgb(64, 150, 224);
    outline: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 25px;
    position: absolute;
}
#submit-btn:hover {
    background-color: rgb(171, 195, 215);
    color: #060606;
}
h1{
    text-align: center;
    font-weight: bold;
}


</style>


<body>
    <div class="cont">
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='Images/Logo.png') }}" alt="" class="image">
                <h1>Table Mate</h1>
            </div>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="">Add Reservations</a></li>
                <li><a href="{{ url_for('reservations') }}">Manage Reservations</a></li>
            </ul>
        </nav>


        <div class="content1">
            <form class="form-group" method="POST">
                <div class="form">
                    <div class="text">
                    Reservations
                    </div>
                    <div class="par">Please fill out all fields!</div>


                    <div class="first-group">

                        <div class="content">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text" name="Name" placeholder="Name" required>
                        </div>

                        <div class="content">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <input type="number" name="Contact" maxlength="11" placeholder="Contact No." required>
                        </div>

                        <div class="content">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <input type="date" name="Day" placeholder="Date" required>
                        </div>

                        <div class="content">
                            <i class="fa fa-cutlery" aria-hidden="true"></i>
                            <input type="text" name="Note" placeholder="Note" required>
                        </div>

                    </div>

                    <div class="second-group">

                        <div class="content">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <input type="text" name="Email" placeholder="Email" required>
                        </div>

                        <div class="content">
                            <i class="fa fa-users" aria-hidden="true" style="font: size 24px;"></i>
                            <input type="number" name="Persons" placeholder="No. of Persons" required>
                        </div>

                        <div class="content">
                            <i class="fa fa-clock-o" aria-hidden="true" style="font: size 24px;"></i>
                            <input type="time" name="Time" placeholder="Time" required>
                        </div>

                        <div class="content">
                            <i class="fa fa-users" aria-hidden="true" style="font: size 24px;"></i>
                            <input type="text" name="Occassion" placeholder="Occasions" required>
                        </div>

                    </div>

                    <button type="submit" value="Submit" id="submit-btn" name="save">BOOK MY TABLE</button>

                </div>
            </form>
        </div>

<!--        <div id="message"></div>-->

        <!-- Add this script block to your HTML file -->
<!--        <script>-->
<!--        function submitReservation(event) {-->
<!--          event.preventDefault(); // Prevent the default form submission-->

<!--          const formData = new FormData(event.target);-->

<!--          fetch("http://127.0.0.1:5000/add_reservation", {-->
<!--            method: "POST",-->
<!--            body: formData,-->
<!--          })-->
<!--            .then((response) => response.json())-->
<!--            .then((result) => {-->
<!--                console.log("Response:", result);-->
<!--              // Handle the response from the API here-->
<!--              if (result.message) {-->

<!--                alert(result.message); // Display the message using a browser alert-->
<!--                event.target.reset(); // Reset the form-->
<!--              } else {-->
<!--                alert("Reservation submission failed.");-->
<!--              }-->
<!--            })-->
<!--            .catch((error) => {-->
<!--              console.error("Error:", error);-->
<!--              alert("An error occurred while submitting the reservation.");-->
<!--            });-->
<!--        }-->
<!--        </script>-->


    </div>
</body>
</html>