<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equive="X-UA-Compatible" content="IE-edge">
        <title>Table Mate</title>
        <link rel="stylesheet" href="style.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 0 15px 15px;
}
.container nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
nav .logo h1{
    color: #444;
    font-size: 28px;
    margin: 8px;
}
nav ul li{
    display: inline-block;
    margin: 10px 15px;
    height: 80px;
    position: relative;
    line-height: 80px;
    cursor: pointer;
}
nav ul li::after{
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    background: #65c9f7;
    width: 0;
    height: 3px;
    transition: 0.3s;
}
nav ul li:hover::after,
nav ul li.active::after{
    width: 100%;
}
nav ul li a{
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}
nav ul li a:hover,
nav ul li.active a{
    color: #65c9f7;
}
.container .content{
    width: 100%;
    height: calc(100vh - 95px);
    background: linear-gradient(130deg, #0c3875, #3b88b2);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
.content .div-text h3{
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 20px;
    font-weight: normal;
    margin: 20px 0 8px;
    color: #79dbff;
}
.content .div-text h1{
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 80px;
    font-weight: bold;
    margin: 20px 0 8px;
    color: #ffffff;
    margin-bottom: 25px;
}
.content .div-text p{
    color: #79dbff;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1.8px;
    margin-bottom: 55px;
}
.content .div-text .btn{
    padding: 15px 35px;
    background-color: white;
    color: #2389ae;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}
.content .div-text .btn:hover{
    color: #fff;
    background-color: #27c6d5;
}
.container .div-img img{
    width: 300x;
}




    </style>
    <body>

        <div class="container">
            <nav>
                <div class="logo">
                    <img src="{{ url_for('static', filename='Images/Logo.png') }}" alt="" class="image">
                    <h1>Table Mate</h1>
                </div>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="{{ url_for('reserve') }}">Add Reservations</a></li>
                    <li><a href="{{ url_for('reservations') }}">Manage Reservations</a></li>
                </ul>
            </nav>
            <div class="content">
                <div class="div-text">
                   <h3>You Book, We Find</h3>
                   <h1>WELCOME TO TABLE MATE!</h1>
                   <P>RESERVE AND DINE</P>
                   <a href="/login" class="btn">Logout</a>
                </div>

                <div class="div-img">
                    <img src="Images/Logo.png" alt="">
                </div>
            </div>
        </div>
    </body>
</html>