
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Admin Dashboard</title>
</head>
<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.cont{
    width: 100%;
    height: 100vh;
    padding: 0 15px 15px;
}
.cont .content1{
    width: 100%;
    height: calc(100vh - 95px);
    background: linear-gradient(130deg, #0c3875, #3b88b2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
.cont .text{
    color: white;
    font-size: 30px;
    margin-left: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}
.cont .par{
    color: black;
    font-size: 20px;
    margin-left: auto;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}
.cont nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #ffffff;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
nav .logo h1{
    color: #444;
    font-size: 28px;
    margin: 8px;
}
nav ul li{
    display: inline-block;
    margin: 10px 15px;
    height: 80px;
    position: relative;
    line-height: 80px;
    cursor: pointer;
}
nav ul li::after{
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    background: #65c9f7;
    width: 0;
    height: 3px;
    transition: 0.3s;
}
nav ul li:hover::after,
nav ul li.active::after{
    width: 100%;
}
nav ul li a{
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}
nav ul li a:hover,
nav ul li.active a{
    color: #65c9f7;
}
h1{
    text-align: center;
    font-weight: bold;
}
.container table{
    width: 95%;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    padding: 5px;
    text-align: center;
<!--    color: white;-->
}
.container th, td{
    border-bottom:1px solid rgb(78, 78, 78);
    text-align: center;
    padding: 8px;
<!--    color: white;-->
}
.container th{
    background-color: hsl(199, 69%, 88%);
}
.container tr:hover {
    background-color: #65c9f7;
}
.s .accept, .reject {
    background: rgb(231, 231, 231);
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
    padding: 3px;
}
.s .accept:hover{
    background: #65ec69;
}
.s .reject:hover{
    background: #ec6565;
}
.container h2{
    color: #444;
    font-size: 40px;
    margin-left: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}



</style>


<body>
    <div class="cont">
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='Images/Logo.png') }}" alt="" class="image">
                <h1>Table Mate</h1>
            </div>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('reserve') }}">Add Reservations</a></li>
                <li><a href="">Manage Reservations</a></li>
            </ul>
        </nav>


        <div class="content1">
            <table class="table table-striped table-hover" style="text-align: center; color: white;">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact No.</th>
                    <th>Persons</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Notes</th>
                    <th>Occasion</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>

                {% for reservation in reservations %}
                <tr data-id="{{ reservation[0] }}">
                    <td>{{ reservation[0] }}</td>
                    <td>{{ reservation[1] }}</td>
                    <td>{{ reservation[2] }}</td>
                    <td>{{ reservation[3] }}</td>
                    <td>{{ reservation[4] }}</td>
                    <td>{{ reservation[5] }}</td>
                    <td>{{ reservation[6] }}</td>
                    <td>{{ reservation[7] }}</td>
                    <td>{{ reservation[8] }}</td>
                    <td data-id="{{ reservation[0] }}" class="status-cell">{{ reservation[9] }}</td>
                    <td>
                        <div class="s">
                            <button type="button" class="accept update-status" data-status="Accepted">Accept</button>
                            <button type="button" class="reject" id="deleteBtn_{{ reservation[0] }}" onclick="deleteReservation({{ reservation[0] }})" data-id="{{ reservation[0] }}" data-status="Rejected">Delete</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>


        </div>

    </div>

    <script>
        function deleteReservation(reservationID) {
            if (confirm('Are you sure you want to delete this reservation?')) {
                const row = document.querySelector(`tr[data-id="${reservationID}"]`);
                if (row) {
                    row.remove(); // Remove the row from the table

                    // Send an AJAX request to your server to delete the reservation by ID
                    fetch(`/delete_reservation/${reservationID}`, {
                        method: 'DELETE'
                    })
                    .then(response => {
                        if (!response.ok) {
                            alert('Failed to delete the reservation.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const updateStatusButtons = document.querySelectorAll('.update-status');

            updateStatusButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    const statusCell = this.parentElement.parentElement.parentElement.querySelector('.status-cell');
                    const reservationId = statusCell.dataset.id;
                    const newStatus = this.dataset.status;

                    // Send an AJAX request to update the status
                    fetch(`/update_status/${reservationId}/${newStatus}`, {
                        method: 'PUT'
                    })
                    .then(response => {
                        if (response.ok) {
                            statusCell.innerText = newStatus;
                        } else {
                            alert('Failed to update status.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                });
            });
        });
    </script>

</body>
</html>